#################################################
# Ignore .DS_Store from Mac OS
#################################################
*.DS_Store

#################################################
# Ignore auto-save files from Emacs
#################################################
*.*~
\#*.*\#

#################################################
# Ignore superfluous (La)TeX files
#################################################

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

### algorithms
*.alg
*.loa

### amsthm
*.thm

### AUCTeX
auto/

### beamer
*.nav
*.snm
*.vrb

###(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

### glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

#### Leipzig glossaries
*.lzo
*.lzs

### hyperref
*.brf

### knitr
*-concordance.tex
*.tikz
*-tikzDictionary

### listings
*.lol

### makeidx
*.idx
*.ilg
*.ind
*.ist

### minitoc
*.maf
*.mtc
*.mtc0

### minted
*.pygtex
*.pygstyle

### morewrites
*.mw

### nomencl
*.nlo

### sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

### sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

### todonotes
*.tdo

### xindy
*.xdy

#################################################
# Ignore superfluous R files
#################################################

## History files
.Rhistory

## Example code in package build process
*-Ex.R

## R data files from past sessions
.Rdata

## RStudio files
.Rproj.user/